.container{
    display: flexbox;
    background-image: url(https://images.unsplash.com/photo-1611077544066-4522a88996aa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-size: cover;
    
}
.cardib{
    display: grid;
    width: auto;
    height: auto;
} 
.card-img-top{
    height: auto;
}